<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Hangfire.Core" version="1.7.10" targetFramework="net48" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net48" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net48" />
  <package id="MaterialDesignColors" version="1.2.5-ci1363" targetFramework="net48" />
  <package id="MaterialDesignThemes" version="3.1.2-ci1363" targetFramework="net48" />
  <package id="Microsoft.Maps.MapControl.WPF" version="1.0.0.3" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="5.0.1" targetFramework="net48" />
  <package id="Owin" version="1.0" targetFramework="net48" />
  <package id="Toasts.Forms.Plugin" version="3.3.2" targetFramework="net48" />
  <package id="WindowsAPICodePack-Core" version="1.1.1" targetFramework="net48" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net48" />
</packages>